<div class="form-group">
  <label for="n-{{ $id }}">Input value</label>
  <input type="text" class="form-control" data-ng-model="problem.data.n" id="n-{{ $id }}" />
</div>
<div class="form-group">
  <label for="input-{{ $id }}">Input Base</label>
  <select class="form-control" data-ng-model="problem.data.inputBase" id="input-{{ $id }}">
    <option data-ng-repeat="n in [] | range:2:36" label="{{ n }}" value="{{ n }}">
  </select>
</div>
<div class="form-group">
  <label for="output-{{ $id }}">Output Base</label>
  <select class="form-control" data-ng-model="problem.data.outputBase" id="output-{{ $id }}">
    <option data-ng-repeat="n in [] | range:2:36" label="{{ n }}" value="{{ n }}">
  </select>
</div>