<div class="form-group">
  <label for="cost-{{ $id }}">Cost per ft<sup>2</sup></label>
  <div class="input-group">
    <span class="input-group-addon">$</span>
    <input type="text" class="form-control" data-ng-model="problem.data.cost" id="cost-{{ $id }}" />
  </div>
</div>
<div class="form-group">
  <label for="width-{{ $id }}">Width (ft)</label>
  <input type="text" class="form-control" data-ng-model="problem.data.width" id="width-{{ $id }}" />
</div>
<div class="form-group">
  <label for="length-{{ $id }}">Length (ft)</label>
  <input type="text" class="form-control" data-ng-model="problem.data.length" id="length-{{ $id }}" />
</div>