<div class="container">
  <h1>Numbers</h1>
  <div class="panel-group" id="numbers-accordion">
    <div class="panel panel-default" data-ng-repeat="problem in problems">
      <div class="panel-heading">
        <h4 class="panel-title">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#numbers-accordion" href="#panel-{{ $id }}">{{ problem.title }}</a>
        </h4>
      </div>
      <div class="panel-collapse collapse" id="panel-{{ $id }}">
        <div class="panel-body">
          <form data-ng-submit="solver.calculate(problem)">
            <div class="form-group" data-ng-repeat="(name,field) in problem.fields">
              <label for="input-{{$id}}">{{ field.label }}</label>
              <input type="text" class="form-control" data-ng-model="field.data" id="#input-{{ $id }}" />
            </div>
            <input type="submit" class="sr-only" />
            <div>
              <h4>Results <i class="icon-rotate-right icon-spin" data-ng-show="problem.loading"></i></h4>
              <pre data-ng-show="problem.result != null">{{ problem.result }}</pre>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>