<div class="container">
  <h1>Numbers</h1>
  <div data-ng-controller="PrimeFactorsCtrl">
    <div data-problem data-title="Find the prime factors of N">
      <div class="form-group">
        <label for="n1">N</label>
        <input type="text" class="form-control" data-ng-model="data.n" id="n1" />
      </div>
    </div>
  </div>
  <div data-ng-controller="PiDigitsCtrl">
    <div data-problem data-title="Find PI to the Nth Digit">
      <div class="form-group">
        <label for="n2">Number of Digits</label>
        <input type="text" class="form-control" data-ng-model="data.n" id="n2" />
      </div>
    </div>
  </div>
  <div data-ng-controller="FibonacciCtrl">
    <div data-problem data-title="First N numbers in Fibonacci sequence">
      <div class="form-group">
        <label for="n3">N</label>
        <input type="text" class="form-control" data-ng-model="data.n" id="n3" />
      </div>
    </div>
  </div>
  <div data-ng-controller="TileCostCtrl">
    <div data-problem data-title="Cost to floor a room with tiles">
      <div class="form-group">
        <label for="n4">Tile Cost</label>
        <div class="input-group">
          <span class="input-group-addon">$</span>
          <input type="text" class="form-control" data-ng-model="data.cost" id="n4" />
        </div>
      </div>
      <div class="form-group">
        <label for="n5">Length of Room</label>
        <input type="text" class="form-control" data-ng-model="data.length" id="n5" />
      </div>
      <div class="form-group">
        <label for="n6">Width of Room</label>
        <input type="text" class="form-control" data-ng-model="data.width" id="n6" />
      </div>
      <input type="submit" class="sr-only" />
    </div>
  </div>
  <div data-ng-controller="NextPrimeCtrl">
    <div data-problem data-title="Find the next prime after N">
      <div class="form-group">
        <label for="n7">N</label>
        <input type="text" class="form-control" data-ng-model="data.n" id="n7" />
      </div>
    </div>
  </div>
</div>