<div class="container">
  <h1>Numbers <i class="icon-rotate-right icon-spin" data-ng-show="loading"></i></h1>
  <div data-ng-repeat="(id, problem) in problems">
    <form role="form" data-ng-submit="calculate(id)">
      <fieldset>
        <legend>{{ problem.title }}</legend>
        <div class="form-group">
          <label for="digits">{{ problem.label }}</label>
          <input type="number" class="form-control" data-ng-model="problem.n" id="digits">
        </div>
      </fieldset>
    </form>
    <div>
      <h4>Results</h4>
      <pre>{{ problem.result }}</pre>
    </div>
  </div>
</div>